@model Category

<form method="post" class="border">
    <h1>Create Category</h1>
    <div asp-validation-summary="All"></div>
    <div class="p-3 mt-4">
        <label asp-for="Name"></label>
        <input asp-for="Name" type="text" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="p-3 mt-4">
        <label asp-for="DisplayOrder"></label>
        <input asp-for="DisplayOrder" type="number" class="form-control" />
        <span asp-validation-for="DisplayOrder" class="text-danger"></span>
    </div>
    <div class="col-md-6 row p-3">
        <div class="col-md-6"><button type="submit" class="btn btn-outline-primary rounded form-control">Create</button></div>
        <div class="col-md-6"><a asp-controller="Category" asp-action="Index" class="btn btn-outline-info rounded form-control"> back</a></div>
    </div><partial name="_ValidationScriptsPartial" />
</form>
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}